* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: BakbakOne-Regular;
  src: url("/fonts/bakbak/BakbakOne-Regular.ttf");
}

@font-face {
  font-family: Poppins-Regular;
  src: url("/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("/fonts/poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Ms-Madi;
  src: url("/fonts/ms-madi/MsMadi-Regular.ttf");
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
  /* height: 100vh; */
  /* background-image: url("/images/Vector.svg");
    background-repeat: no-repeat;
    background-size: contain; */
}

.gradient-right {
  /* background-image: url("/images/backgroud-gradient-right.svg"); */
  /* background: linear-gradient(180deg, #ed1b27 0%, #ed1b27 35%, white 100%);*/
  background: linear-gradient(180deg, #ed2531 0%, #f2616a 35%, white 100%);
  background-repeat: no-repeat;
  background-size: contain;
  width: 43vw;
  height: 550px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.main-nav__items {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav__item {
  margin-right: 120px;
}

.main-nav__item a {
  text-decoration: none;
  color: #221516;
  font-size: 20px;
  font-family: BakbakOne-Regular;
}

.main-nav__item h1 {
  font-size: 45px;
  font-family: Ms-Madi;
  color: #ed1b27;
}

.main-nav__item-cta {
  background-color: #eda539;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0;
  vertical-align: middle;
  margin-right: 75px;
}

.main-nav__item-cta img {
  vertical-align: middle;
  /* margin-right: 8px; */
}

.main-nav__item-cta:hover {
  background-color: white;
  transition: ease-in-out 500ms;
  outline: none;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#heart-icon {
  font-size: 32px;
  margin-left: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-categories__title {
  text-align: center;
  font-size: 60px;
  font-family: Ms-Madi;
  color: #ed2531;
  margin-top: 90px;
}

.menu-categories__items {
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin-top: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-categories__item {
  /* border: #221516 5px solid; */
  border-radius: 30px;
  width: 200px;
  padding: 20px;
  background-color: #ffdadc;
  position: relative;
  cursor: pointer;
}

.menu-item__image {
  position: absolute;
  top: -50px;
  margin: 0 20px;
  width: 200px;
  /* height: 180px; */
}
.menu-categories__item:hover .menu-item__image {
  transition: transform 250ms;
  transform: translateY(-30px);
}

.menu-categories__item:hover {
  box-shadow: 20px 20px 20px #ebebeb;
}
.menu-item__image img {
  width: 120px;
}
.menu-item__title {
  margin-top: 50px;
  font-size: 20px;
  font-family: Poppins-Bold;
  text-align: center;
}

.menu-item__description {
  font-family: Poppins-Regular;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
}

.menu-item__price {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  font-family: Bakbakone-Regular;
  color: #ed1b27;
  padding: 20px;
}

.add-to-cart {
  color: white;
  background-color: #ed1b27;
  width: 50px;
  height: 50px;
  border: none;
  /* padding: 10px; */
  border-radius: 50%;
  font-size: 40px;
  position: absolute;
  bottom: -25px;
  margin: 0 28%;
  cursor: pointer;
}
.main-footer {
  background-color: #ed1b27;
  /* background-image: linear-gradient(
      to right top,
      #ed2531,
      #ef333d,
      #f03f48,
      #f14a53,
      #f2545d,
      #f76579,
      #f97793
    ); */

  /* background-repeat: no-repeat; */
  padding: 10px;
  margin-top: 100px;
  color: white;
  text-align: center;
  width: 100%;
  /* height: 300px; */
}

.main-footer p {
  padding-top: 10px;
  font-size: 15px;
  font-family: Poppins-Regular;
  /* font-style: italic; */
}

.main-footer__links {
  text-align: center;
  margin: 0;
  padding: 0;
}
.main-footer__link {
  display: inline-block;
  padding: 10px 10px;
}

/* @media only screen and (max-width: 1170px) { */

@media only screen and (max-width: 1280px) {
  .main-nav__item {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 930px) {
  .main-nav__item {
    margin-right: 40px;
  }
  .main-nav__item h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 780px) {
  .gradient-right {
    display: none;
  }
  .main-nav {
    background-color: #ed1b27;
    margin-top: 0;
    padding: 10px;
    justify-content: space-between;
  }
  .main-nav__items {
    display: none;
  }
  .menu-item__image {
    margin: 20px 15px;
  }
}

@media (min-width: 781px) {
  .toggle-button {
    display: none;
  }
  .mobile-logo {
    display: none;
  }
}
.toggle-button {
  width: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  align-items: right;
}

/* .toggle-button:focus {
  outline: none;
} */

.toggle-button__bar {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

/* Toggle functionality */
#toggle {
  position: absolute;
  left: -100%;
  top: -100%;
}

#toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}

#toggle:checked ~ .nav {
  margin-bottom: 100px;
  pointer-events: auto;
  transform: translate(50px, 50px);
}

#toggle:checked ~ .nav .nav-item {
  color: white;
  letter-spacing: 0;
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
  text-decoration: none;
  font-family: Bakbakone-Regular;
  font-size: 20px;
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
  transition-delay: 0.15s;
  margin-bottom: 20px;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
  transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
  transition-delay: 0.05s;
  margin-top: 20px;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
  transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}
#toggle:checked ~ .dummy-content {
  padding-top: 30px;
}
#toggle:checked ~ .dummy-content:before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Toggle button */
.button-toggle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s;
}

.button-toggle:before,
.button-toggle:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #dcb6b1;
  border-radius: 5px;
  transition: 0.5s;
}
.button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Menu */
.nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  transition: 0.5s;
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  /* transition: 0.5s, opacity 1s; */
}
.nav-item:nth-child(1) {
  transition-delay: 0s;
}
.nav-item:nth-child(1):before {
  transition-delay: 0s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
  transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
  transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
  transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
  letter-spacing: -8px;
}
.nav-item:nth-child(2) {
  letter-spacing: -7px;
}
.nav-item:nth-child(n + 4) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.nav-item:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}
.mobile-logo {
  color: white;
  font-family: Ms-Madi;
}
